<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdou.hr_system.mapper.LeaveMapper">
    <resultMap id="BaseResultMap" type="com.gdou.hr_system.entity.Leave">
        <id column="id" property="id" />
        <result column="staff_id" property="staffId" />
        <result column="days" property="days" />
        <result column="type_num" property="typeNum" />
        <result column="start_date" property="startDate" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="employee_name" property="employeeName"/>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            l.*,
            e.name as employee_name
        FROM att_staff_leave l
                 LEFT JOIN employees e ON l.staff_id = e.id
    </select>
    <select id="searchLeave" resultMap="BaseResultMap">
        SELECT
        l.*,
        e.name as employee_name
        FROM att_staff_leave l
        LEFT JOIN employees e ON l.staff_id = e.id
        <where>
            <if test="employeeName != null and employeeName != ''">
                AND e.name LIKE CONCAT('%', #{employeeName}, '%')
            </if>
            <if test="staffId != null and staffId != ''">
                AND l.staff_id LIKE CONCAT('%', #{staffId}, '%')
            </if>
        </where>
    </select>
</mapper>